<?xml version="1.0"?>
<config>
    <modules>
        <Morphess_Categoryattr>
            <version>0.0.1</version> 
        </Morphess_Categoryattr>
    </modules>
    <global>
        <resources>
            <sqlmorphes_setup>
                <setup>
                    <module>Morphess_Categoryattr</module>
                </setup>
            </sql_setup>
        </resources>
    </global>
</config>