<?xml version="1.0"?>
<config>
    <global>
         <blocks>
             <catalog>
                 <rewrite>
            	    <product_list_featured>FTrade_Catalog_Block_Product_List_Featured</product_list_featured>
            	    <product_specialprice>FTrade_Catalog_Block_Product_SpecialPrice</product_specialprice>
                 </rewrite>
             </catalog>
         </blocks>
    </global>
</config>
