
.menu_block {

	float: right;
	position: relative;
	z-index: 999;
}

nav>.sf-menu {
	text-align: center;
}
nav{ position:relative;padding: 0px 0 0 0;}
.sf-menu ul {position:absolute;top:-999px; display:none;/* left offset of submenus need to match (see below) */}
.sf-menu li {float:left;position:relative; }
.sf-menu>li {
	text-align: center;	
	float: none;
	display: inline-block;
	background: url(../images/li_bg.gif) 0 5px no-repeat;
}


.sf-menu>li:first-child, .sf-menu>li.current {
	background: none;
}

.sf-menu>li:first-child a {
	padding-right: 32px;
}

.sf-menu>li img {
	display: none;
	width: 100%;
	position: absolute;
	height: 86px;
	top: 0;
	left: 0;
	right: 0;
}

.sf-menu>li:hover img, 
.sf-menu>li.current img,
.sf-menu>li.sfHover img {
	display: block;
	cursor: pointer;
}



.sf-menu>li>ul>li {
  float: none;
  	
}


.sf-menu>li>a{
	color: #fff; 
	font-family:  Arial, Helvetica, sans-serif;
	font-size: 14px; 
	display: block;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 19px;
	position: relative;
	background: url(../images/spacer.png) 0 0 repeat;
	padding: 25px 32px 18px 28px;
	z-index: 999;

}

.sf-menu>li>a.sf-with-ul:after {
	position: absolute;
	content: '';
	left: 50%;
	margin-left: -2px;
	width: 5px;
	background: url(../images/arrows.png) no-repeat 0 0;
	height: 3px;
	top: 45px;	
	pointer-events: none;
	z-index: 999;
}

.sf-menu>li.current>a.with-ul:after, .sf-menu>li.sfHover>a.with-ul:after {
	background-position: 0 -3px;	
}

.sf-menu>li>ul>li>a>span {
	position: absolute;
	right: 10px;
	width: 4px;
	background: url(../images/arrows.png) no-repeat right 0;
	height: 7px;
	top: 7px;	
}

.sf-menu>li>ul>li.sfHover>a>span {
	background-position: right bottom;
}

	


.sf-menu a{
	font-size: 16px; 
	line-height: 21px; 
	color:#fffefe;
	}

/*================================>> 2 Level <<========================================*/
.sf-menu li ul,.sf-menu li.sfHover>ul{
	left:0; 
	right: 0;
	background: #ff4b5c;
	top:90px;
	width: 135px;
	left: 50%;
	margin-left: -67px;
	padding:25px 0 24px; 
	z-index:1;  
}

.sf-menu li ul li{
	text-align: center; 
	float: none !important; 
	margin-bottom: 11px;
}

.sf-menu li ul li:first-child {
	padding-top: 0;
	background: none;
}
.sf-menu li ul li a{
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 14px; 
	padding-right: 0 !important;
	line-height: 19px;
}

.sf-menu li li a:hover, .sf-menu li.sfHover li.sfHover>a{  color: #363636 !important;}

/*================================>> 3 Level <<========================================*/
.sf-menu li li ul{
	left: 207px !important;
	top: 5px !important; 
	background: #ff839b !important; 
	z-index: 999;
}


/*========
.sf-menu li li ul li:first-child {
	margin: 0 !important;	
}

.sf-menu li li ul li a {
	color: #9d9d9d !important;
}

.sf-menu li li ul li a:hover {
	color: #4d4d4d !important;	
}======*/

/*==================================RESPONSIVE LAYOUTS===============================================*/

@media only screen and (max-width: 995px) {
	.sf-menu>li{
		 
	}


	.sf-menu>li:after, .sf-menu>li:first-child:before {
		display: none;;
	}
	

.sf-menu>li>a{
	padding-left: 10px;
	padding-right: 14px;
}

.menu_block {
	right: 0;
}

.sf-menu>li:first-child a {
	padding-right: 20px;
}

	header nav {
		padding-top: 0px !important;	
	}
}
@media only screen and (max-width: 767px) {
	.menu_block {
		float: none !important;
		margin: 0 0px !important;	
		padding: 20px 0px 25px !important;
		
	}
	header {
		padding: 0px 0 0px !important;
	}
  header nav{
		float:none;
		font:12px/15px Arial, Helvetica, sans-serif;
		text-transform:uppercase;
		color:#927c67;
		
		width: 100%;
		margin: 0 auto;
		
	
	}
		nav:before{
			content:'Menu:';
			display:block;
			margin-bottom:5px;
			color: #fff;
			
		}
	.sf-menu{display:none;float: none;}
	nav select{
		font:12px/15px Arial, Helvetica, sans-serif;
		color:#202020;
		width:100%;
		margin: 0 auto;
		float: none;
    outline: none;
		border:2px solid #fff;
	}
	
	.search_block {
		padding-bottom: 10px !important;	
	}
}
