<?xml version="1.0"?>
<config>
    <modules>
        <FTrade_Sales>
            <version>1.0.1</version>
        </FTrade_Sales>
    </modules>
    <global>
        <fieldsets>
            <sales_copy_order_billing_address>
                <inn>
                    <to_order>*</to_order>
                </inn>
                <kpp>
                    <to_order>*</to_order>
                </kpp>
                <bank_account>
                    <to_order>*</to_order>
                </bank_account>
                <bank>
                    <to_order>*</to_order>
                </bank>
                <c_account>
                    <to_order>*</to_order>
                </c_account>
                <allocate_nds>
                    <to_order>*</to_order>
                </allocate_nds>
                <bik>
                    <to_order>*</to_order>
                </bik>
                <company_details_file>
                    <to_order>*</to_order>
                </company_details_file>
            </sales_copy_order_billing_address>
            <sales_copy_order_shipping_address>
                <inn>
                    <to_order>*</to_order>
                </inn>
                <kpp>
                    <to_order>*</to_order>
                </kpp>
                <bank_account>
                    <to_order>*</to_order>
                </bank_account>
                <bank>
                    <to_order>*</to_order>
                </bank>
                <c_account>
                    <to_order>*</to_order>
                </c_account>
                <bik>
                    <to_order>*</to_order>
                </bik>
                <company_details_file>
                    <to_order>*</to_order>
                </company_details_file>
            </sales_copy_order_shipping_address>
            <sales_convert_quote>
                <favorite_carrier>
                    <to_order>*</to_order>
                </favorite_carrier>
            </sales_convert_quote>
            <sales_convert_quote_address>
                <inn>
                    <to_order_address>*</to_order_address>
                    <to_customer_address>*</to_customer_address>
                </inn>
                <kpp>
                    <to_order_address>*</to_order_address>
                    <to_customer_address>*</to_customer_address>
                </kpp>                
                <bank_account>
                    <to_order_address>*</to_order_address>
                    <to_customer_address>*</to_customer_address>
                </bank_account>
                <bank>
                    <to_order_address>*</to_order_address>
                    <to_customer_address>*</to_customer_address>
                </bank>
                <c_account>
                    <to_order_address>*</to_order_address>
                    <to_customer_address>*</to_customer_address>
                </c_account>
                <allocate_nds>
                    <to_order_address>*</to_order_address>
                    <to_customer_address>*</to_customer_address>
                </allocate_nds>
                <bik>
                    <to_order_address>*</to_order_address>
                    <to_customer_address>*</to_customer_address>
                </bik>
                <company_details_file>
                    <to_order_address>*</to_order_address>
                    <to_customer_address>*</to_customer_address>
                </company_details_file>
            </sales_convert_quote_address>
            <sales_convert_order>
                <favorite_carrier>
                    <to_quote>*</to_quote>
                </favorite_carrier>
            </sales_convert_order>
            <sales_convert_order_address>
                <inn>
                    <to_quote_address>*</to_quote_address>
                </inn>
                <kpp>
                    <to_quote_address>*</to_quote_address>
                </kpp>
                <bank_account>
                    <to_quote_address>*</to_quote_address>
                </bank_account>
                <bank>
                    <to_quote_address>*</to_quote_address>
                </bank>
                <c_account>
                    <to_quote_address>*</to_quote_address>
                </c_account>
                <bik>
                    <to_quote_address>*</to_quote_address>
                </bik>
                <allocate_nds>
                    <to_quote_address>*</to_quote_address>
                </allocate_nds>
                <company_details_file>
                    <to_quote_address>*</to_quote_address>
                </company_details_file>
            </sales_convert_order_address>
            <customer_address>
                <inn>
                    <to_quote_address>*</to_quote_address>
                </inn>
                <kpp>
                    <to_quote_address>*</to_quote_address>
                </kpp>                
                <bank_account>
                    <to_quote_address>*</to_quote_address>
                </bank_account>
                <bank>
                    <to_quote_address>*</to_quote_address>
                </bank>
                <c_account>
                    <to_quote_address>*</to_quote_address>
                </c_account>
                <bik>
                    <to_quote_address>*</to_quote_address>
                </bik>
                <allocate_nds>
                    <to_quote_address>*</to_quote_address>
                </allocate_nds>
                <company_details_file>
                    <to_quote_address>*</to_quote_address>
                </company_details_file>
            </customer_address>
        </fieldsets>
        <resources>
            <ftradesales_setup>
                <setup>
                    <module>FTrade_Sales</module>
                    <class>FTrade_Sales_Model_Entity_Setup</class>
                </setup>
            </ftradesales_setup>
        </resources>
        <models>
            <sales>
                <rewrite>
                    <order_address>FTrade_Sales_Model_Order_Address</order_address>
                </rewrite>
            </sales>
        </models>
    </global>
    <frontend>
        <events>
            <sales_quote_save_before>
                <observers>
                    <FTrade_Sales>
                        <class>FTrade_Sales_Model_Observer</class>
                        <method>addFavoriteCarrierQuote</method>
                    </FTrade_Sales>
                </observers>
            </sales_quote_save_before>
            <checkout_submit_all_after>
                <observers>
                    <FTrade_Sales>
                        <class>FTrade_Sales_Model_Observer</class>
                        <method>addFavoriteCarrierOrder</method>
                    </FTrade_Sales>
                </observers>
            </checkout_submit_all_after>
        </events>
        <layout>
            <updates>
                <ftrade_sales module="FTrade_Sales">
                    <file>ftrade_sales.xml</file>
                </ftrade_sales>
            </updates>
        </layout>
        <translate>
            <modules>
                <FTrade_Sales>
                    <files>
                        <default>FTrade_Sales.csv</default>
                    </files>
                </FTrade_Sales>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <FTrade_Sales>
                    <files>
                        <default>FTrade_Sales.csv</default>
                    </files>
                </FTrade_Sales>
            </modules>
        </translate>
        <layout>
            <updates>
                <ftrade_sales>
                    <file>ftrade/sales.xml</file>
                </ftrade_sales>
            </updates>
        </layout>
    </adminhtml>
</config>
