<?xml version="1.0"?>
<config>
    <!-- base configurations -->
    <modules>
        <Orba_Sheepla>
            <!-- module version -->
            <version>0.9.4</version>
        </Orba_Sheepla>
    </modules>
    <default>
        <carriers>
            <sheepla>
                <active>1</active>
                <sallowspecific>0</sallowspecific>
                <model>sheepla/carrier_sheepla</model>
                <name>Sheepla</name>
                <title>Sheepla</title>
                <type>I</type>
                <details>Automated shipping.</details>
                <specificerrmsg>This shipping method is currently unavailable. If you would like to ship using this shipping method, please contact us.</specificerrmsg>
                <handling_type>F</handling_type>
            </sheepla>
        </carriers>
        <sheepla>
            <method_1>
                <sort_order>1</sort_order>
                <price>0</price>
            </method_1>
            <method_2>
                <sort_order>2</sort_order>
                <price>0</price>
            </method_2>
            <method_3>
                <sort_order>3</sort_order>
                <price>0</price>
            </method_3>
            <method_4>
                <sort_order>4</sort_order>
                <price>0</price>
            </method_4>
            <method_5>
                <sort_order>5</sort_order>
                <price>0</price>
            </method_5>
            <method_6>
                <sort_order>6</sort_order>
                <price>0</price>
            </method_6>
            <method_7>
                <sort_order>7</sort_order>
                <price>0</price>
            </method_7>
            <method_8>
                <sort_order>8</sort_order>
                <price>0</price>
            </method_8>
            <method_9>
                <sort_order>9</sort_order>
                <price>0</price> 
            </method_9>
            <method_10>
                <sort_order>9</sort_order>
                <price>0</price> 
            </method_10>
            <api_config>
                <api_url>https://api.sheepla.com/</api_url>
                <api_widget_js>https://panel.sheepla.pl/Content/GetWidgetAPIJavaScript</api_widget_js>
                <api_widget_css>https://panel.sheepla.pl/Content/GetWidgetAPICss</api_widget_css>
                <create_shipments>1</create_shipments>
            </api_config>
            <tracking>
                <active>0</active>
            </tracking>
            <advanced>
                <status_to_sync>payment_review,pending,pending_payment,pending_paypal,processing</status_to_sync>
                <debug_mode>0</debug_mode>
                <use_dynamic_pricing>0</use_dynamic_pricing>
                <status_after_sync>0</status_after_sync>
                <show_label_at_checkout>1</show_label_at_checkout>
                <custom_label></custom_label>
            </advanced>
        </sheepla>
    </default>
	
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Orba_Sheepla before="Mage_Adminhtml">Orba_Sheepla_Adminhtml</Orba_Sheepla>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <!-- global configurations -->
    <global>

        <!-- enable models and resources -->
        <models>
            <sheepla>
                <class>Orba_Sheepla_Model</class>
                <resourceModel>sheepla_mysql4</resourceModel>
            </sheepla>
            <sheepla_mysql4>
                <class>Orba_Sheepla_Model_Mysql4</class>
                <entities>
                    <order>
                        <table>orba_sheepla_order</table>
                    </order>
                </entities>
            </sheepla_mysql4>
        </models>
        <resources>
            <sheepla_setup>
                <setup>
                    <module>Orba_Sheepla</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </sheepla_setup>
            <sheepla_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </sheepla_write>
            <sheepla_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </sheepla_read>
        </resources>
        <blocks>
            <sheepla>
                <class>Orba_Sheepla_Block</class>
            </sheepla>
            <checkout>
                <rewrite>
                    <onepage_payment_methods>Orba_Sheepla_Block_Checkout_Onepage_Payment_Methods</onepage_payment_methods>
                    <multishipping_billing>Orba_Sheepla_Block_Checkout_Multishipping_Billing</multishipping_billing>
                </rewrite>
            </checkout>
            <adminhtml>
                <rewrite>
                    <sales_order_create>Orba_Sheepla_Block_Admin_Create</sales_order_create>
                </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <sheepla>
                <class>Orba_Sheepla_Helper</class>
            </sheepla>
        </helpers>
        <events>
            <checkout_controller_onepage_save_shipping_method>
                <observers>
                    <orba_save_sheepla_shipping_method_data>
                        <type>singleton</type>
                        <class>sheepla/observer</class>
                        <method>saveSheeplaShippingMethodData</method>
                    </orba_save_sheepla_shipping_method_data>
                </observers>
            </checkout_controller_onepage_save_shipping_method>
            <checkout_controller_multishipping_shipping_post>
                <observers>
                    <orba_save_sheepla_shipping_method_data>
                        <type>singleton</type>
                        <class>sheepla/observer</class>
                        <method>saveSheeplaShippingMethodData</method>
                    </orba_save_sheepla_shipping_method_data>
                </observers>
            </checkout_controller_multishipping_shipping_post>
            <adminhtml_sales_order_create_process_data>
                <observers>
                    <orba_save_sheepla_shipping_method_data>
                        <type>singleton</type>
                        <class>sheepla/observer</class>
                        <method>saveSheeplaShippingMethodData</method>
                    </orba_save_sheepla_shipping_method_data>
                </observers>
            </adminhtml_sales_order_create_process_data>
            <sales_order_place_after>
                <observers>
                    <orba_save_sheepla_data>
                        <type>singleton</type>
                        <class>sheepla/observer</class>
                        <method>saveSheeplaData</method>
                    </orba_save_sheepla_data>
                </observers>
            </sales_order_place_after>
            <!--<checkout_submit_all_after>
               <observers>
                    <orba_send_sheepla_data>
                        <type>singleton</type>
                        <class>sheepla/observer</class>
                        <method>sendSheeplaData</method>
                    </orba_send_sheepla_data>
            </observers> 
            </checkout_submit_all_after>-->
            <sales_convert_order_to_quote>
                <observers>
                    <orba_remember_old_sheepla_data>
                        <type>singleton</type>
                        <class>sheepla/observer</class>
                        <method>rememberOldSheeplaData</method>
                    </orba_remember_old_sheepla_data>
                </observers>
            </sales_convert_order_to_quote>
        </events>
    </global>
    <!-- frontend configurations -->
    <frontend>
		
        <routers>
            <sheepla>
                <!-- module route -->
                <use>standard</use>
                <args>
                    <module>Orba_Sheepla</module>
                    <frontName>sheepla</frontName>
                </args>
            </sheepla>
        </routers>
        <layout>
            <updates>
                <Orba_Sheepla>
                    <file>sheepla.xml</file>
                </Orba_Sheepla>
            </updates>
        </layout>
        <translate>
            <modules>
                <Orba_Sheepla>
                    <files>
                        <default>Orba_Sheepla.csv</default>
                    </files>
                </Orba_Sheepla>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <Orba_Sheepla>
                    <file>sheepla.xml</file>
                </Orba_Sheepla>
            </updates>
        </layout> 
        <routers>
            <sheepla>
                <!-- module route -->
                <use>admin</use>
                <args>
                    <module>Orba_Sheepla</module>
                    <frontName>sheepla</frontName>
                </args>
            </sheepla>
        </routers>
        <menu>
            <sales>
                <children>
                    <sheepla translate="title" module="sheepla">
                        <title>Sheepla</title>
                        <sort_order>31</sort_order>
                        <action>sheepla/admin/index</action>
                    </sheepla>
                </children>

            </sales>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <sheepla>
                                            <title>Sheepla</title>
                                        </sheepla>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                    <children>
                        <sales>
                            <children>
                                <sheepla>
                                    <title>Sheepla</title>
                                </sheepla>
                            </children>
                        </sales>
                    </children>
                </admin>
            </resources>
        </acl>
        
        <translate>
            <modules>
                <mage_adminhtml>
                    <files>
                        <actualidad>Orba_Sheepla.csv</actualidad>
                    </files>
                </mage_adminhtml>
            </modules>
        </translate>
    </adminhtml>
    <crontab>
        <jobs>
            <!-- deprecated from 0.9.3
            <orba_sheepla_tracking>
                <schedule>
                    <cron_expr>0,5,10,15,20,25,30,35,40,45,50,55 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>sheepla/shipment::syncStatuses</model>
                </run>
            </orba_sheepla_tracking>
            -->
        </jobs>
    </crontab>
</config>