<?xml version="1.0"?>
<config>
    <modules>
        <FTrade_Customer>
            <version>1.0.1</version>
        </FTrade_Customer>
    </modules>
    <global>
        <resources>
            <ftradecustomer_setup>
                <setup>
                    <module>FTrade_Customer</module>
                    <class>FTrade_Customer_Model_Entity_Setup</class>
                </setup>
            </ftradecustomer_setup>
        </resources>
        <events>
            <customer_address_save_before>
                <observers>
                    <FTrade_Customer>
                        <class>FTrade_Customer_Model_Observer</class>
                        <method>saveCompanyDetails</method>
                    </FTrade_Customer>
                </observers>
            </customer_address_save_before>
        </events>
        <models>
            <customer>
                <rewrite>
                    <address>FTrade_Customer_Model_Address</address>
                </rewrite>
            </customer>
        </models>
    </global>
    <adminhtml>
        <translate>
            <modules>
                <FTrade_Customer>
                    <files>
                        <default>FTrade_Customer.csv</default>
                    </files>
                </FTrade_Customer>
            </modules>
        </translate>
    </adminhtml>
    <frontend>
        <routers>
            <customer>
                <args>
                    <modules>
                        <FTrade_Customer before="Mage_Customer">FTrade_Customer</FTrade_Customer>
                    </modules>
                </args>
            </customer>
        </routers>
        <translate>
            <modules>
                <FTrade_Customer>
                    <files>
                        <default>FTrade_Customer.csv</default>
                    </files>
                </FTrade_Customer>
            </modules>
        </translate>
    </frontend>
    <admin>
        <fieldsets>
            <customer_dataflow>
                <inn>
                    <billing>1</billing>
                    <shipping>1</shipping>
                </inn>
                <kpp>
                    <billing>1</billing>
                    <shipping>1</shipping>
                </kpp>
                <bank_account>
                    <billing>1</billing>
                    <shipping>1</shipping>
                </bank_account>
                <bank>
                    <billing>1</billing>
                    <shipping>1</shipping>
                </bank>
                <c_account>
                    <billing>1</billing>
                    <shipping>1</shipping>
                </c_account>
                <allocate_nds>
                    <billing>1</billing>
                </allocate_nds>
                <company_details_file>
                    <billing>1</billing>
                </company_details_file>
                <bik>
                    <billing>1</billing>
                    <shipping>1</shipping>
                </bik>
            </customer_dataflow>
        </fieldsets>
    </admin>
</config>
